<div class="container">
    <div class="col-md-6 col-md-offset-3">

        <!-- PAGE TITLE -->
        <div class="page-header">
            <h1><span class="glyphicon glyphicon-tower"></span> إضافة أخبار صحيفة نت</h1>
        </div>

        <!-- SHOW ERROR/SUCCESS MESSAGES -->
        <!--	<div id="messages" class="well" ng-show="message">{{ message }}</div>-->
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" ng-show="message">{{alert.msg}}</alert>
        <!--  <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>-->

        <!-- FORM -->
        <form ng-submit="processForm()">
            <div ng-include="'templates/_form.html'"></div>
        </form>

        <!-- SHOW DATA FROM INPUTS AS THEY ARE BEING TYPED -->
        <div ng-show="formData.title">
            <label>العنوان</label>
            <pre>
		{{ formData.title}}
            </pre>
        </div>
        <div ng-show="formData.details">
            <label>التفاصيل</label>
            <pre>
		{{ formData.details}}
            </pre>
        </div>

    </div>
</div>