
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <div class="input-group">

            <input type="text" class="form-control" placeholder="ابحث" ng-model="query">
            <select ng-model="orderProp">
                <option value="-date">أحدث الأخبار</option>
                <option value="title">حسب العنوان</option>
            </select>
        </div><!-- /input-group -->
    </div>



    <!-- Table -->
    <table class="table table-bordered">
        <thead>
            <tr><th scope="col">العنوان</th><th scope="col">التفاصيل</th><th scope="col">التاريخ</th><th scope="col"></th></tr>
        </thead>
        <tbody>
            <tr ng-repeat="news in allNews.posts| filter:query | orderBy:orderProp">
                <td class="field-label col-xs-4 active"  field="title" data-id="'{{news.id}}'" ng-dblclick="editItem(news)"><span ng-hide="news.editing">{{news.title}}</span>
                <input ng-show="news.editing" ng-model="news.title" ng-blur="doneEditing(news)" type="text" autofocus />
                
                </td>
                
                <td class="col-md-4"  field="details" data-id="{{news.id}}'"  ng-dblclick="editItem(news)"> <span ng-hide="news.editing">{{news.details}}</span>
                    <input ng-show="news.editing" ng-model="news.details" ng-blur="doneEditing(news)" type="text" autofocus />
                </td>
                
                
                <td class="col-md-3" field="date" data-id="'{{news.id}}">{{news.date| date: 'M/d/yy h:mm a'}}</td>
                <td class="col-md-1"><button class="btn btn-danger" data-id="'{{news.id}}" ng-click="open('sm',$index)">حذف    </button></td>
            </tr>
        </tbody>

    </table>

</div>
<nav>
    <ul class="pager">
        <li class="previous disabled"><a href="#"><span aria-hidden="true">الأقدم</span>  &larr;</a></li>
        <li class="next disabled"><a href="#"> &rarr;<span aria-hidden="true">الأحدث</span></a></li>
    </ul>
</nav>
    {{id}}


