<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><i class="icon-th icon-black"></i><a href="#/view1"><i class="icon-th icon-black"></i>عرض</a></li>
            <li role="presentation"><a href="#/view2"><i class="icon-th icon-black"></i>إضافة</a> </li>
        </ul>
    </div>

</div>



<div id="indicator" style="display: none; text-align: center;" class="loading_img">
	<img src="ui/img/indicator.gif"/>
</div>